.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.uploader {
  background-color: darkgray;
  height: "500vh";
}
.avatar-uploader > .ant-upload {
  width: auto;
}
.login {
  color: white;
}
.main {
  color: black;
}
.body {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  align-items: center;
}
.show {
  width: 800px;

  border-left: dashed #00000017;
  border-right: dashed #00000017;
}
